*.a
*.d
*.o
.vscode
console/*.exe
console/*.bin
console/saves/*.bin
obj/mySimpleComputer/*.a
obj/mySimpleComputer/*.o
obj/mySimpleComputer/*.d
obj/SimpleComputerTest/*.o
obj/SimpleComputerTest/*.d
obj/MyTerm/*.a
obj/MyTerm/*.o
obj/MyTerm/*.d
obj/MyTermTest/*.o
obj/MyTermTest/*.d
obj/MyTermTest/*.файл
obj/myBigChars/*.a
obj/myBigChars/*.o
obj/myBigChars/*.d
obj/font/*.a
obj/font/*.o
obj/font/*.d
obj/myReadkey/*.a
obj/myReadkey/*.o
obj/myReadkey/*.d
obj/CU/*.a
obj/CU/*.o
obj/CU/*.d
